header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.example-spacer {
  flex: 1 1 auto;
}

.auth-link {
  font-size: 16px;
  &_active {
    display: none;
  }
}

.auth-block {
  padding-top: 64px;
  height: 100vh;
}
