<header>
  <mat-toolbar color="primary">
    <mat-icon>menu</mat-icon>
    <span>CRM</span>
    <span class="example-spacer"></span>
    <a
      routerLinkActive="active"
      routerLink="/login"
      class="auth-link cursor-pointer mr-2"
    >
      Вход
    </a>
    <a
      routerLinkActive="active"
      routerLink="/register"
      class="auth-link cursor-pointer"
    >
      Регистрация
    </a>
  </mat-toolbar>
</header>

<div class="auth-block">
  <router-outlet></router-outlet>
</div>
